#servicos {
  background: #cffafe;

  > header, > .services {
    z-index: 9999;
  }

  .container > header {
    text-align: center;
    margin-bottom: 3rem;
  
    h2 {
      font-size: 2.3rem;
      line-height: 3.5rem;
    }
  }
}

.services {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  position: relative;
  z-index: 5;

  .bg-icon {
    position: absolute;
    font-size: 20rem;
    color: $grey-900;
    opacity: 0.15;
    z-index: -1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.service {
  display: flex;
  justify-content: start;
  width: 100%;
  max-width: 450px;
  z-index: 100;

  background: #fff9;
  backdrop-filter: blur(5x);
  padding: 1rem;

  transition: .5s;

  @media (max-width: 1100px) {
    max-width: 350px;
  }

  @media (max-width: 880px) {
    max-width: 100%;
  }

  @media (max-width: 400px) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .icon {
    display: flex;
    justify-content: center;
    align-items: center;

    i {
      width: 80px;
      height: 80px;
      font-size: 2.3rem;
      display: flex;
      justify-content: center;
      align-items: center;

      @media (max-width: 400px) {
        width: 50px;
        height: 50px;
      }
    }
  }

  header {
    margin-left: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

    @media (max-width: 400px) {
      align-items: center;
      justify-content: center;
      text-align: center;
      margin-left: 0;
    }
  }

  h3 {
    transition: .5s;
    font-weight: 500;
  }

  &:hover {
    background: white;
    color: $blue-500;
    transform: scale(1.02);

    h3 {
      color: $blue-500;
    }
  }
}