// Reset de margens e paddings
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Scroll suave
html {
  scroll-behavior: smooth;
}

// Remove o autofill do chrome
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: white;
  transition: background-color 5000s ease-in-out 0s;
}