// Animação para mão chacolhando
@keyframes wave-animation {
  0% { transform: rotate( 0.0deg) }
 10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
 20% { transform: rotate(-8.0deg) }
 30% { transform: rotate(14.0deg) }
 40% { transform: rotate(-4.0deg) }
 50% { transform: rotate(10.0deg) }
 60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
100% { transform: rotate( 0.0deg) }
}

// Animação de pulsão azul
@keyframes pulse-blue {
	0% {
		box-shadow: 0 0 0 0 rgba(52, 172, 224, 0.7);
	}
	
	70% {
		box-shadow: 0 0 0 10px rgba(52, 172, 224, 0);
	}
	
	100% {
		box-shadow: 0 0 0 0 rgba(52, 172, 224, 0);
	}
}

// Animação de pulsão verde
@keyframes pulse-green {
	0% {
		box-shadow: 0 0 0 0 rgba(29, 181, 96, 0.7);
	}
	
	70% {
		box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
	}
	
	100% {
		box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
	}
}